@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1f2f41;
  --secondary-color: #50e3c2;
  --background-color: #151e27;
  --card-color: #ffffff;
  --text-primary: #fff;
  --text-secondary: #666666;
  --border-color: #e0e0e0;
  --danger-color: #d0021b;
  --success-color: #7ed321;
}

body {
  background-color: var(--background-color);
  color: var(--text-primary);
  font-family: Basis-regular;
}

@media (min-width: 1536px) {
  .container {
    max-width: 1370px;
  }
}
